* {
	margin: 0;
}

@font-face {
	font-family: proximanova;
	src: url("fonts/proximanova-regular.otf") format("opentype");
}

body {
	background-color: #fff;
	font-family: 'proximanova';
}

.jumbotron {
	background-image: url('../img/Thomas-Frank.jpg');
	height: 100vh;
	background-position: center;
	color: #fff;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 87%);
}

.jumbotron > h1 {
	color: #fff;
	align-self: center;
	text-align: center;
	font: proximanova, sans-serif;
	font-size: 65px;
	letter-spacing: 2.7px;
	line-height: 1.4em;
	font: bold;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, .3);
	position: relative;
	top: 50%;
	font-weight: 900;
	filter: brightness(100%) contrast(127%) saturate(122%) blur(0) hue-rotate(0deg);
}

.youtuber {
	padding: 100px 50px;
}
.youtuber > p {
	text-align: center;
	font-size: 42px;
	font-weight: 300;
	line-height: 1.6em;
}

@media screen and (max-width: 924px) {
	.youtuber {
		padding: 0;
	}
}

.third__col {
	margin-left: 20;
	margin-right: 20;
}

.third__col > h1 {
	text-align: center;
	line-height: 2.1em;
	font-weight: bold;
	color: #272121;
}
.third__col > p {
	text-align: start;
	font-size: 1.25em;
	line-height: 32px;
}

.fourth__col {
	padding: 2em;
}
iframe {
	width: 90vh;
	height: 100%;
	align-items: center;
}

.fourth__col {
	padding: 2em;
}
.container-fluid > .row {
	margin: 0.56em 2em;
}

.logo {
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	letter-spacing: normal;
	text-decoration: none;
}

.logo:hover {
	text-decoration: none;
}

.aman_d {
	background-image: url("../img/Thomas-Frank.jpg");
	background-position: center;
	height: 100vh;
	background-size: cover;
	word-wrap: break-word;
	max-width: 2300px;
	object-fit: contain;
}

.aman_d > h1 {
	color: #fff;
	align-self: center;
	text-align: center;
	font: proximanova, sans-serif;
	font-size: 65px;
	letter-spacing: 2.7px;
	line-height: 1.4em;
	font: bold;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, .3);
	position: relative;
	left: 50%;
	top: 50%;
	width: 100%;
}
.card__link {
	width: 100%;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	padding: 15px 30px;
	margin-top: 15px;
	border-radius: 5px;
	background-color: #dc3545;
}

.rows {
	margin-top: 6.25rem;
}

.navbar {
	padding: .8rem;
}

#navlink:hover {
	background-color: #111111;
	color: #fff;
}

.nav-link {
	font-size: .825em !important;
	letter-spacing: 2.5px;
	text-align: left;
	height: auto;
}

.navbar-brand {
	font-size: 18px;
}
.navbar-brand:hover {
	font-style: italic;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
}

#social-link {
	color: black;
}
#social-link:hover {
	color: grey;
}
#imgs {
	width: 616px;
	height: 346px;
}

#imgs2 {
	width: 640px;
	height: 394px;
}
